<!--This page presents my picture and short information about me-->
<% include partials/header.ejs %>
	<div class= "container .contentContainer" >
		<div class="row">
			<div class="col-md-4 marginTop" id="topRow">
				<img src="/images/minnie2.png" id="minimg" class="marginTop" />
			</div>
			<div class="col-md-8" id="topRow">
				<h1><%= title %></h1>
				<p class="lead">
					I am a passionate programmer. 
					My focus is on developing high quality programs and websites that are easy to use, secured and adaptive to future changes.
				</p>
				<p class="lead">
					I am excited to learn new technologies which help improve the quality of my work and reduce the amount of time I spend during coding. I am enthusiastic in using technologies to solve problem and make life better.
				</p>
				<p class="lead">
					My hobbies are learning, reading, hiking, canoeing, kite surfing, swimming, playing badminton, playting tennis, playing table-tennis, skiing and trying new restaurant
				</p>
			</div>
		</div>
	</div>
<% include partials/footer.ejs %>