<% include partials/header.ejs %>
	<div class= "container .contentContainer" >
		<div class="row">
			<div class="col-md-6" id="topRow">
				<img src="/images/minnie1.jpg" id="minimg"/>
			</div>
			<div class="col-md-6" id="topRow">
				<h1 class="marginTop"><%= title %></h1>
				<p class="lead">I am a passionate programmer. My main focus is on developing a high quality program which is easy to future changes.
				I am good at javascript, node.js, java, c#, mysql, deploying to cloud. Love to learn new things all the time.
				</p>
			</div>
		</div>
	</div>
<% include partials/footer.ejs %>