<% include partials/header.ejs %>
	<div class="container .contentContainer">
		<div class="row" id="topRow">
			<h1 class="marginTop"><%= title %></h1>
		</div>
		<form class="marginTop">
			<fieldset class="form-group">
				<label class="sr-only">Name</label>
				<input type=
			</fieldset>


		</form>
	</div>
<% include partials/footer.ejs %>