<% include partials/header.ejs %>
	<div class= "container .contentContainer">
		<div class="row" id="topRow">
			<h1 class="marginTop"><%= title %></h1>
				<p class="lead">Some of the projects I have done in the past</p>
			</div>
		</div>
		<div class="row marginTop">
			<table class="table table-striped table-bordered">
				<tr>
					<th class="center">Name</th>
					<th class="center">Description</th>
				</tr>
				<tr>
					<td class="center td_size">
						<a href="http://gc200332992.computerstudi.es/project01/publishers.php" alt="bookstore">Book Store</a>
					</td>
					<td class="left">
						Using PHP, MySql and Bootstrap to create a website
						that can show thelist of the books in the store.
						User can also add new book, add new publisher, edit and delete
						the information that is stored in mySql
					</td>
				</tr>
				<tr>
					<td class="center td_size">
						<a href="http://gc200332992.computerstudi.es/mindash/" alt="mindash">Min-Dash</a>
					</td>
					<td class="left">
						Creating website using html5 and css
					</td>
				</tr>
			</table>
		</div> 
	</div>
<% include partials/footer.ejs %>