<!-- 
	File Name: myservices.ejs
	Author's Name: Kannika Bhatia
	WebSite's Name: KannikaBhatia
	File Description: This page displays the serives I provide 
-->

<% include partials/header.ejs %>
	<div class= "container .contentContainer" >
		<div class="row">
				<h1 class="marginTop" id="topRow"><%= title %></h1>
				<p class="lead marginTop">
					I have experiences creating websites with the focus on the back-end using languages including PHP, MySQL, JavaScript, Node.js, Express.js and MongoDB. I can also do some of the front-end design using CSS, HTML and Bootstrap Framework. 
				</p>

				<p class="lead marginTop">
					I am able to use version controls like GitHub and deploy the website on cloud service such as Heroku.
				</p>

				<p class="lead marginTop">
					I also have experiences in making window application using both C# and Java. The application can connect and retrieve the information from the local database.
				</p>

			</div>
		</div>
	</div>
<% include partials/footer.ejs %>