/*This page has all the extra styles that is added to the formal bootstrap framework to make it more suitable to this site */


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar-brand{
	font-size: 1.8em;
}

#topRow{
	margin-top: 100px;
	text-align: center;
}

.marginTop{
	margin-top: 30px;
	text-align: center;
}

#home{
	height: 100%;
	width: 100%;
	background-size: cover;
}

#homeTitle{
	margin-top: 100px;
	text-align: center;
	font-size: 3em;
	font-weight: bold;
}

#minimg{
	width: 105%
}

#githublogo{
	width: 5%;
}

.center{
	text-align: center;
}

.left{
	text-align: left;
	margin-left: 5em;
}

.td_size{
	width: 25%;
}

.th_font{
	font-size: 1.1em;
}